In [1]:
import pandas as pd
from pathlib import Path

data = Path("Resources/NPSAcreage-09-30-2024.xlsx")
df = pd.read_excel(data) 
df

,National Park Service - Listing of Acreage - 09-30/2024,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Area Name,Region,State,NPS Fee Acres,NPS Less Than Fee Acres,Other Federal Fee Acres,Subtotal Federal Acres,Other Public Acres,Private Acres,Subtotal Non-Federal Acres,Gross Area Acres
1,A LINCOLN BIRTHPL NHP,1,KY,344.5,0,0,344.5,0,0,0,344.5
2,ACADIA NP,1,ME,37500.32,10707.9,21.77,48229.99,48.22,798.44,846.66,49076.65
3,ADAMS NHP,1,MA,9.17,0,0,9.17,4,10.65,14.65,23.82
4,AFRICAN BURIAL GROUND NM,1,NY,0.35,0,0,0.35,0,0,0,0.35
...,...,...,...,...,...,...,...,...,...,...,...
439,3/ WHISKEYTOWN-SHASTA-TRINITY NRA - SHASTA AND...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,4/ APPALACHIAN NS TRAIL - MANAGEMENT OF TRAIL ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,5/ FOR TOTAL ACREAGE OF BIG CYPRESS NATIONAL P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
442,6/ FOR TOTAL ACREAGE OF EVERGLADES NATIONAL PA...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,REPORT PREPARED BY: NATIONAL PARK SERVICE LAND...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Delete the first row
df = df.iloc[0:]

# Set the new header
df.columns = df.iloc[0]

# Drop the row that was used as the header
df = df.iloc[1:]

# Reset the index
df.reset_index(drop=True, inplace=True)

df

,Area Name,Region,State,NPS Fee Acres,NPS Less Than Fee Acres,Other Federal Fee Acres,Subtotal Federal Acres,Other Public Acres,Private Acres,Subtotal Non-Federal Acres,Gross Area Acres
0,A LINCOLN BIRTHPL NHP,1,KY,344.5,0,0,344.5,0,0,0,344.5
1,ACADIA NP,1,ME,37500.32,10707.9,21.77,48229.99,48.22,798.44,846.66,49076.65
2,ADAMS NHP,1,MA,9.17,0,0,9.17,4,10.65,14.65,23.82
3,AFRICAN BURIAL GROUND NM,1,NY,0.35,0,0,0.35,0,0,0,0.35
4,AGATE FOSSIL BEDS NM,5,NE,2270.33,459.75,0,2730.08,24.43,303.36,327.79,3057.87
...,...,...,...,...,...,...,...,...,...,...,...
438,3/ WHISKEYTOWN-SHASTA-TRINITY NRA - SHASTA AND...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,4/ APPALACHIAN NS TRAIL - MANAGEMENT OF TRAIL ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,5/ FOR TOTAL ACREAGE OF BIG CYPRESS NATIONAL P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,6/ FOR TOTAL ACREAGE OF EVERGLADES NATIONAL PA...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
442,REPORT PREPARED BY: NATIONAL PARK SERVICE LAND...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#drop rows that have all Null information
clean_df = df.dropna(subset=df.columns[1:], how='all')
clean_df

,Area Name,Region,State,NPS Fee Acres,NPS Less Than Fee Acres,Other Federal Fee Acres,Subtotal Federal Acres,Other Public Acres,Private Acres,Subtotal Non-Federal Acres,Gross Area Acres
0,A LINCOLN BIRTHPL NHP,1,KY,344.5,0,0,344.5,0,0,0,344.5
1,ACADIA NP,1,ME,37500.32,10707.9,21.77,48229.99,48.22,798.44,846.66,49076.65
2,ADAMS NHP,1,MA,9.17,0,0,9.17,4,10.65,14.65,23.82
3,AFRICAN BURIAL GROUND NM,1,NY,0.35,0,0,0.35,0,0,0,0.35
4,AGATE FOSSIL BEDS NM,5,NE,2270.33,459.75,0,2730.08,24.43,303.36,327.79,3057.87
...,...,...,...,...,...,...,...,...,...,...,...
430,YOSEMITE NP,10,CA,759690.11,10.83,319.11,760020.05,1502.7,224.75,1727.45,761747.5
431,YUCCA HOUSE NM,7,CO,195.07,0,0,195.07,0,0,0,195.07
432,YUKON-CHARLEY RIVERS N PR,11,AK,2195546.98,0,0,2195546.98,46169.03,284796.43,330965.46,2526512.44
433,ZION NP,7,UT,143843.31,0,0,143843.31,5.13,3394.22,3399.35,147242.66
434,Total,NaN,NaN,80098836.48,363579.73,714717.51,81177133.72,1381425.1,2600309.93,3981735.03,85158868.75

In [6]:
#Sort the dataframe from largest to smallest gross area acres

df_sorted = clean_df.sort_values(by='Gross Area Acres', ascending=False)
df_sorted

,Area Name,Region,State,NPS Fee Acres,NPS Less Than Fee Acres,Other Federal Fee Acres,Subtotal Federal Acres,Other Public Acres,Private Acres,Subtotal Non-Federal Acres,Gross Area Acres
434,Total,NaN,NaN,80098836.48,363579.73,714717.51,81177133.72,1381425.1,2600309.93,3981735.03,85158868.75
426,WRANGELL-ST ELIAS NP,11,AK,7956729.18,0.83,0,7956730.01,17577.06,348839.41,366416.47,8323146.48
161,GATES OF THE ARCTIC NP,11,AK,7276030.2,83780,0,7359810.2,1292,162795.25,164087.25,7523897.45
302,NOATAK N PRESERVE,11,AK,6549220.04,0,0,6549220.04,1197,36654.35,37851.35,6587071.39
425,WRANGELL-ST ELIAS N PRES,11,AK,4323874.4,0,0,4323874.4,39855.06,488915.43,528770.49,4852644.89
...,...,...,...,...,...,...,...,...,...,...,...
381,T ROOSEVELT BIRTHPLACE NHS,1,NY,0.11,0,0,0.11,0,0,0,0.11
214,J F KENNEDY NHS,1,MA,0.09,0,0,0.09,0,0,0,0.09
258,M MCLEOD BETHUNE HOUSE NHS,1,DC,0.07,0,0,0.07,0,0,0,0.07
380,T KOSCIUSZKO NMEM,1,PA,0.02,0,0,0.02,0,0,0,0.02
330,POTOMAC HERITAGE NST,1,PA TO VA,0,0,0,0,0,0,0,0