In [6]:
import pandas as pd
from pathlib import Path

data = Path("Resources/allParksVisits_try.csv")
df = pd.read_csv(data)
df

,ParkName,Year,RecreationVisitors,NonRecreationVisitors,RecreationHours,NonRecreationHours,ConcessionerLodging,ConcessionerCamping,TentCampers,RVCampers,Backcountry,NonRecreationOvernightStays,MiscellaneousOvernightStays
0,Abraham Lincoln Birthplace NHP,1993,"293,710",0,"293,710",0,0,0,0,0,0,0,0
1,Abraham Lincoln Birthplace NHP,1994,"279,542",0,"279,542",0,0,0,0,0,0,0,0
2,Abraham Lincoln Birthplace NHP,1995,"268,509",0,"268,509",0,0,0,0,0,0,0,0
3,Abraham Lincoln Birthplace NHP,1996,"249,344",0,"249,344",0,0,0,0,0,0,0,0
4,Abraham Lincoln Birthplace NHP,1997,"262,889",0,"262,889",0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11143,Zion NP,2019,"4,488,268","21,900","28,715,546","5,475","82,640",0,"118,290","78,704","18,320",0,"21,619"
11144,Zion NP,2020,"3,591,254","21,900","21,690,476","5,475","29,039",0,"81,108","61,792","4,906",0,488
11145,Zion NP,2021,"5,039,835","21,900","31,553,998","5,475","55,454",0,"138,730","89,919","15,071",0,"7,969"
11146,Zion NP,2022,"4,692,417","21,900","29,929,496","5,475","56,528",0,"133,666","93,947","10,375",0,"30,234"
11147,Zion NP,2023,"4,623,238","21,900","29,471,316","5,475","95,381",0,"100,411","85,948","8,497",0,"30,211"

In [10]:
# Create Dataframe for each Year
year_93 = df[df['Year'] == 1993]
year_94 = df[df['Year'] == 1994]
year_95 = df[df['Year'] == 1995]
year_96 = df[df['Year'] == 1996]
year_97 = df[df['Year'] == 1997]
year_98 = df[df['Year'] == 1998]
year_99 = df[df['Year'] == 1999]
year_00 = df[df['Year'] == 2000]
year_01 = df[df['Year'] == 2001]
year_02 = df[df['Year'] == 2002]
year_03 = df[df['Year'] == 2003]
year_04 = df[df['Year'] == 2004]
year_05 = df[df['Year'] == 2005]
year_06 = df[df['Year'] == 2006]
year_07 = df[df['Year'] == 2007]
year_08 = df[df['Year'] == 2008]
year_09 = df[df['Year'] == 2009]
year_10 = df[df['Year'] == 2010]
year_11 = df[df['Year'] == 2011]
year_12 = df[df['Year'] == 2012]
year_13 = df[df['Year'] == 2013]
year_14 = df[df['Year'] == 2014]
year_15 = df[df['Year'] == 2015]
year_16 = df[df['Year'] == 2016]
year_17 = df[df['Year'] == 2017]
year_18 = df[df['Year'] == 2018]
year_19 = df[df['Year'] == 2019]
year_20 = df[df['Year'] == 2020]
year_21 = df[df['Year'] == 2021]
year_22 = df[df['Year'] == 2022]
year_23 = df[df['Year'] == 2023]

In [ ]:
# Filter to see Overnight Stay is avaiable in the park